/* MAIN CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
  background-color: #F6F5F3;
  font-family: "Poppins", sans-serif;
}

/* LEFT SECTION */
.login-left {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #002855;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.ecg-line {
  position: absolute;
  width: 90%;
  opacity: 0.9;
  z-index: 2;
}

.doctor-img {
  position: absolute;
  bottom: -180px;
  transform: translateX(5%) translateY(20px);
  width: 120%;
  z-index: 3;
}

/* RIGHT SECTION */
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background: #F6F5F3;
}

/* LOGO AND TEXT */
.logo {
  width: 250px;
  margin-bottom: 45px;
  margin-top: -40px;
}

.welcome-text {
  font-size: 16px;
  color: #073159;
  font-weight: 600;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 14px;
  color: #475569;
  margin-bottom: 30px;
}

/* INPUT WRAPPER to center 70% width form */
.form-wrapper {
  width: 70%;
}

/* INPUT FIELDS */
.input-group {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 20px;
}

.input-group input {
  width: 70%;
  padding: 12px 40px;
  border: 1.5px solid #002855;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  color: #0f172a;
  background: transparent;
}

.toggle-pass {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateX(-150%) translateY(-50%);
  color: #000000;
  cursor: pointer;
}

/* OPTIONS (aligned with input width) */
.login-options {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #002855;
  margin-bottom: 25px;
  margin-top: -10px;
}

.forgot-link {
  color: #073159;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* BUTTON */
.login-btn {
  width: 50%;
  padding: 12px;
  background-color: #073159;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  transform: translateX(70px);
}

.login-btn:hover {
  background-color: #004aad;
}

/* HELP TEXT */
.help-text {
  margin-top: 25px;
  font-size: 13px;
  color: #002855;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    padding: 80px 0;
  }

  .login-left {
    flex: none;
    order: 1;
    margin-bottom: 40px;
  }

  .circle-wrapper {
    width: 280px;
    height: 280px;
  }

  .doctor-img {
    width: 70%;
    bottom: 9px;
    transform: translateX(5%) translateY(20px);
  }

  .login-right {
    order: 2;
    align-items: center;
    padding: 0 30px;
  }

  .form-wrapper {
    width: 100%;
    max-width: 280px;
  }

  .login-btn {
    width: 70%;
  }

  .login-options {
    width: 100%;
  }

   .input-group input {
  width: 100%;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: auto;
    transform: translateX(50%);
  }

  .welcome-text {
    font-size: 14px;
    transform: translateX(10%);
  }
}

@media (max-width: 600px) {
  .circle-wrapper {
    width: 200px;
    height: 200px;
  }

  .doctor-img {
    width: 70%;
    bottom: 15px;
  }

  .login-right {
    padding: 0 20px;
  }

  .form-wrapper {
    width: 100%;
  }

  .welcome-text {
    font-size: 12px;
  }

  .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  .sub-text {
    font-size: 13px;
  }

  .login-btn {
    width: 100%;
    font-size: 14px;
    transform: translateX(0px);
  }

  .login-options {
    width: 100%;
  }

  .input-group input {
  width: 100%;
}
}